.input {
  width: 350px;
  height: 55px;
  background-color: transparent;
  font-size: 15px;
}

.textarea {
  width: 350px;
  height: 150px;
  background-color: transparent;
  padding: 10px 15px;
  font-size: 15px;
}

.phone_number_input input {
  background-color: transparent;
}

.select_box{
  overflow: hidden;
  position: relative;
  display: flex;
  background-color: #F6F9FE;
}

.select_box:after{
  width: 0; 
  height: 0; 
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #3B8CF7;
  position: absolute;
  top: 40%;
  right: 10px;
  content: "";
  z-index: 98;
 }

.select_box select{
  width: 355px;
  border: 0;
  position: relative;
  z-index: 99;
  background: none;
  appearance: none;
}