.arrow_btn_text {
  font-size: 14px;
  color: white;
  font-weight: 500;
}

.btn_animate:hover {
  animation: forward 1s linear alternate;
}

@keyframes forward {
  from {
    transform: scale(1) translateX(0px);
  }
  to {
    transform: scale(1.05) translateX(8px);
  }
}