.select {
  background-color: #3b8cf7;
  padding: 5px 3px;
  font-size: 14px;
  color: white;
  border-radius: 8px;
  margin-left: 24px;
  outline: none;
  font-size: 12px;
  padding: 5px;
  /* background-image: url("data:image/svg+xml,<svg width='24' height='24' xmlns='http://www.w3.org/2000/svg'><path d='m0,6l12,12l12,-12l-24,0z'/><path fill='none' d='m0,0l24,0l0,24l-24,0l0,-24z'/></svg>"); */
}

.navbar_container {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.login_navbar_container {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.button_text {
  color: white;
  font-size: 15px;
}

.profile_img {
  height: 30px;
  width: 30px;
  border-radius: 100%;
}
