.card_container {
  width: 250px;
  height: 350px;
}

@media (min-width: 1020px) and (max-width: 1200px) {
  .card_container {
    width: 230px;
    height: 320px;
  }
}

@media (min-width: 900px) and (max-width: 1020px) {
  .card_container {
    width: 195px;
    height: 300px;
  }
}

@media (max-width: 900px) {
  .card_container {
    width: 210px;
    height: 290px;
  }
}
