.form_control {
  width: 100%;
  height: 55px;
  border-radius: 15px;
}

.select_box {
  height: 55px;
  font-size: 15px;
  width: 98%;
}

.card_title {
  font-size: 17px;
  color: #333333;
}

.card_title::before {
  border-bottom: 1.5px solid #f6f9fe;
}

.card_title::after {
  border-bottom: 2px solid #f6f9fe;
}

.edit_box {
  color: #333333;
  width: 100%;
  height: 55px;
  border-radius: 15px;
  border: 1px solid grey;
  background-color: white;
  display: block;
  padding-left: 16px;
  padding-right: 16px;
}

.edit_box:focus {
  border: 1px solid grey !important;
}
