@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.css-1ozmk1d {
  min-width: unset !important;
}

/* swiper css */
.swiper {
  padding: 0 10px !important;
  /* padding-left: 20px;
  padding-right: 20px; */
}
.swiper-wrapper {
  padding-bottom: 35px;
}
.swiper-button-next {
  margin-right: -10px;
  content: url("../public/images/rightarrow.svg");
}
.swiper-button-prev {
  margin-left: -10px;
  content: url("../public/images/leftarrow.svg");
}
.css-syzyw {
  margin: auto;
}
.sub-title {
  font-size: 22px;
}
