@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    background-color: white;
    /* color: black; */
  }
}

*:focus {
  box-shadow: none !important;
  border: none !important;
  outline: none !important;
  border-width: 0;
}

.css-1ozmk1d {
  min-width: unset !important;
}
.container {
  max-width: 1600px;
  margin: auto;
  position: relative;
  overflow-x: hidden;
}
.inner-container {
  max-width: 1260px;
  margin: auto;
  /* overflow-x: hidden; */
}
.cursor {
  cursor: pointer;
}
/* swiper css */
.swiper {
  padding: 0 10px !important;
}
.swiper-wrapper {
  padding-bottom: 35px;
}
.swiper-button-next {
  margin-right: -10px;
  content: url("../public/images/rightarrow.svg");
}
.swiper-button-prev {
  margin-left: -10px;
  content: url("../public/images/leftarrow.svg");
}
.css-syzyw {
  margin: auto;
}
.sub-title {
  font-size: 22px;
}

/* localization selector */
.select {
  width: 60px;
  padding: 0;
  appearance: none;
  background-image: url("/images/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 0.5rem top 50%;
  background-size: 0.65rem auto;
  background-color: #3b8cf7;
  padding: 5px;
  color: white;
  border-radius: 8px;
  margin-left: 24px;
  outline: none;
  font-size: 12px;
}

.search_input {
  outline: none;
  border-radius: 15px;
  height: 50px;
  width: 100%;
  background-color: transparent;
  color: grey;
  margin-left: 10px;
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.PhoneInput {
  height: 100% !important;
}
