@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
button,
[type="submit"],
[type="button"] {
  -webkit-appearance: button;
  /* background-color: #3b8cf7; */
  background-image: none;
}
::-webkit-scrollbar {
  display: none;
}
/* ::-webkit-scrollbar {
  width: 18px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  background-color: #f0f0f0;
  border-radius: 2px;

}

::-webkit-scrollbar-thumb {
  background-color: #cfcfcf;
  border-radius: 10px;
  border: 5.5px solid transparent;
  background-clip: content-box;
}  */

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    background-color: white;
    /* color: black; */
  }
}

*:focus {
  box-shadow: none !important;
  border: none !important;
  outline: none !important;
  border-width: 0;
}

.css-1ozmk1d {
  min-width: unset !important;
}
.container {
  max-width: 1600px;
  margin: auto;
  position: relative;
  overflow-x: hidden;
}
.inner-container {
  max-width: 1260px;
  margin: auto;
  /* overflow-x: hidden; */
}
.cursor {
  cursor: pointer;
}
/* swiper css */
.swiper {
  padding: 0 10px !important;
}
.swiper-wrapper {
  padding-bottom: 35px;
}
.swiper-button-next {
  margin-right: -10px;
  content: url("../public/images/rightarrow.svg");
}
.swiper-button-prev {
  margin-left: -10px;
  content: url("../public/images/leftarrow.svg");
}
.css-syzyw {
  margin: auto;
}
.sub-title {
  font-size: 22px;
}

/* localization selector */
.select {
  width: 60px;
  padding: 0;
  appearance: none;
  background-image: url("/images/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 0.5rem top 50%;
  background-size: 0.65rem auto;
  background-color: #3b8cf7;
  padding: 5px;
  color: white;
  border-radius: 8px;
  margin-left: 24px;
  outline: none;
  font-size: 12px;
}

.search_input {
  outline: none;
  border-radius: 15px;
  height: 50px;
  width: 100%;
  background-color: transparent;
  color: grey;
  margin-left: 10px;
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.PhoneInput {
  height: 100% !important;
}
.table-view-table-container {
  width: "100%";
}

.table-view-table-container {
  text-align: left;
}
.table-view-table-container th {
  font-size: 16px;
}

.table-view-table-container tr {
  border-bottom: 1px solid #d9d9d9;
  cursor: pointer;
  font-size: 15px;
}
.table-view-table-container tbody tr:hover {
  background-color: #f6f9fe;
}
.table-row {
  height: 100%;
  width: 100%;
}

.table-row-column {
  padding: 20px;
}

/* .table-body {
  max-height: 100px;
  overflow-y: scroll;
} */
.css-156hn9k-MuiButtonBase-root-MuiMenuItem-root {
  font-size: 13px;
}

.css-1mn6af3-MuiButtonBase-root-MuiMenuItem-root-MuiTablePagination-menuItem {
  font-size: 12px;
}

.css-17dea8a {
  background-color: none !important;
}

/* calendar */
.css-1ps6pg7-MuiPaper-root {
  border-radius: none !important;
  box-shadow: none;
}
.css-4j3kvp-MuiInputBase-root-MuiOutlinedInput-root {
  border-radius: 10px;
  font-size: 16px;
  outline: none;
  /* background-color: #3b8cf7;
  border-color: #3b8cf7; */
  border-width: 0;
}

.css-d2dnvh-MuiButtonBase-root-MuiButton-root.TodayButton-button {
  border-radius: 10px;
  font-size: 14px;
  background-color: #f6f9fe;
  margin-right: 10px;
  border-width: 0;
  padding: 10px 20px;
  text-transform: unset;
}

.Content-title {
  color: white !important;
}
.css-w2167a .Content-lens {
  height: 25px;
  width: 25px;
}
.Content-content svg {
  color: white !important;
}
.css-19slgc1-MuiTableCell-root .Cell-today {
  background: #b2d4ff;
  border-radius: 0%;
  width: 100%;
  color: black;
}

.error-message {
  font-size: 12px;
  color: red;
  margin-top: 2px;
}
.hot-toast {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 12px !important;
  font-size: 14px;
  cursor: pointer;
}



