.announcement_img {
  width: 100%;
  margin: 25px 0;
  height: 550px;
}
.bg_element {
  position: absolute;
  /* top: -8rem;
  right: -3.7rem; */
  /* top: -8rem; */
  right: -4rem;
  height: 45rem;
}
